@model SocialMediaApp.Models.UserInformation
@{
    ViewBag.Title = "GoToUsersHome";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0);" onclick="passUserNameToIndex()">NP Chat</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="javascript:void(0);" onclick="passUserNameToIndex()">Home</a></li>
                <li>@Html.ActionLink("Users", "Users", "Users")</li>
                <li>@Html.ActionLink("Inbox", "Index", "Inbox")</li>
                <li>@Html.ActionLink("Settings", "UserProfile", "Settings")</li>
                @*<li><a href="javascript:void(0);" onclick="passUserNameToSettings()">Settings</a></li>*@
            </ul>

            @if (@ViewBag.UserName != null)
            {

                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink((string)ViewBag.UserName, "Index", "Home", new { userName = @ViewBag.UserName }, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li>@Html.ActionLink("Sign Out", "SignIn", "SignIn")</li>
                </ul>

            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "SignUp", "Register", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Sign In", "SignIn", "SignIn", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            }
        </div>
    </div>
</div>

<img src="~/Uploads/test.png" alt="User Profile Picture"/>
<div class="container"><h2>@Model.ID</h2></div>
<div class="container"><h2>@Model.Age</h2></div>
<div class="container"><h2>@Model.FavoriteQuote</h2></div>


@if (@ViewBag.UserName != null)
{
    <input id="userName" name=@ViewBag.UserName value=@ViewBag.UserName type="hidden">
}


@section Scripts {

    <script>
        $(document).ready(function () {

            //var data = "Test";

            //$.ajax({
            //    type: 'POST',
            //    url: 'GetImageName/Users',
            //    data: { 'fileName' : data },
            //    contentType: false,
            //    processData: false
            //});

            @*$.ajax({
                type: 'POST',
                url:'@Url.Action("GetImageName", new { fileName = @ViewBag.UserName })',
                contentType: false,
                processData: false,
                success: function (data) {
                    alert(data);
                },
                complete: function (data) {
                    alert(data);
                }
            });*@

            @*$.ajax({
                type: 'GET',
                url: '@Url.Action("GetImageName", new { fileName = @ViewBag.UserName })',
                dataType: 'Text/html',
                success: function (data) {
                    alert(data);
                    document.write(data);
                },
                complete: function (data) {
                    alert("This is a test");
                }
            });*@

            @*jQuery.ajax({
                url: '@Url.Action("GetImageName", new { fileName = @ViewBag.UserName })',
                type: 'get',
                dataType: 'thtml',
                success: function (data) {
                    alert(data);
                    document.write(data);
                }
            });*@

            @*$.get("@Url.Action("GetImageName", new { fileName = @ViewBag.UserName })", function (data, status) {
                alert("Data: " + data.d + "\nStatus: " + status);
            });*@

            @*$.ajax({
                type: "POST",
                url: "@Url.Action("GetImageName")",
                data: "{'fileName':'@ViewBag.UserName'}",
                //contentType: "application/json; charset=utf-8",
                //dataType: "html",
                success: function (data) {
                    alert(data.foo);
                }
            });*@

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetImageName", new { fileName = @ViewBag.UserName })",
                success: function (data) {
                    alert(data.foo);
                }
            });

        });
    </script>

    <script>
        function passUserNameToIndex() {
            var x = $("#userName").val();

            if (x == null) {
                var URL = window.location.protocol + "//" + window.location.host
                window.location.href = URL;
            }
            else {
                var URL = window.location.protocol + "//" + window.location.host + "/?UserName=" + x;
                window.location.href = URL;
            }
        }
    </script>

    <script>
        var x = $("#userName").val();

        $(document).ready(function () {
            setCookie("userNameSocialMediaApp", x, 1);
        });

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }
    </script>

    
}