@model SocialMediaApp.Models.UserInformation

<head runat="server">

</head>
@{
    ViewBag.Title = "User Profile";
}

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0);" onclick="passUserNameToIndex()">NP Chat</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="javascript:void(0);" onclick="passUserNameToIndex()">Home</a></li>
                    <li>@Html.ActionLink("Users", "Users", "Users")</li>
                    <li>@Html.ActionLink("Inbox", "InboxHome", "Inbox")</li>
                    <li>@Html.ActionLink("Settings", "UserProfile", "Settings")</li>
                    @*<li><a href="javascript:void(0);" onclick="passUserNameToSettings()">Settings</a></li>*@
                </ul>

                @if (@ViewBag.UserName != null)
            {

                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink((string)ViewBag.UserName, "Index", "Home", new { userName = @ViewBag.UserName }, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li>@Html.ActionLink("Sign Out", "SignIn", "SignIn")</li>
                    </ul>

                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Register", "SignUp", "Register", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Sign In", "SignIn", "SignIn", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <h2>User Profile</h2>

    @using (Html.BeginForm("UserProfile", "Settings", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ID)

        <div class="form-group">
            @Html.LabelFor(m => m.Age, new { @class = "col-m-2 control-label" })
            @Html.TextBoxFor(m => m.Age, new { @class = "form-control", @Value = "" })
            @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FavoriteQuote, new { @class = "col-m-2 control-label" })
            @Html.TextAreaFor(m => m.FavoriteQuote, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Choose profile picture</label>
            <input type="file" name="file" />
        </div>
        <div class="form-group">
            <input type="submit" value="Upload" style="margin-top:10px;"/>
        </div>
    }

    @if (@ViewBag.UserName != null)
    {
        <input id="userName" name=@ViewBag.UserName value=@ViewBag.UserName type="hidden">
    }

</body>

@section Scripts {

@Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            // When your form is submitted
            $("form").submit(function (e) {
                // Prevent the default behavior
                e.preventDefault();

                // Serialize your form
                var formData = new FormData($(this)[0]);

                // Make your POST
                $.ajax({
                    type: 'POST',
                    url: 'UserProfile/Settings',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (view) {
                       alert("Ok");
                    },
                    complete: function () {
                       alert("Ok");
                    }
                });
            });
        })
    </script>

    <script>
         function passUserNameToIndex() {
             var x = $("#userName").val();

             if (x == null) {
                 var URL = window.location.protocol + "//" + window.location.host
                 window.location.href = URL;
             }
             else {
                 var URL = window.location.protocol + "//" + window.location.host + "/?UserName=" + x;
                 window.location.href = URL;
             }
         }
    </script>
}

