@model SocialMediaApp.Models.UserInformation

<head runat="server">

</head>
@{
    ViewBag.Title = "User Profile";
}

<body>
    <h2>User Profile</h2>

    @using (Html.BeginForm("UserProfile", "Settings", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ID)

        <div class="form-group">
            @Html.LabelFor(m => m.Age, new { @class = "col-m-2 control-label" })
            @Html.TextBoxFor(m => m.Age, new { @class = "form-control", @Value = "" })
            @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FavoriteQuote, new { @class = "col-m-2 control-label" })
            @Html.TextAreaFor(m => m.FavoriteQuote, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Choose profile picture</label>
            <input type="file" name="file" />
        </div>
        <div class="form-group">
            <input type="submit" value="Upload" style="margin-top:10px;"/>
        </div>
    }
</body>

@section Scripts {

@Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            // When your form is submitted
            $("form").submit(function (e) {
                // Prevent the default behavior
                e.preventDefault();

                // Serialize your form
                var formData = new FormData($(this)[0]);

                // Make your POST
                $.ajax({
                    type: 'POST',
                    url: 'UserProfile/Settings',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (view) {
                        alert("success");
                    },
                    complete: function () {
                        alert("complete");
                    }
                });
            });
        })

        //$(document).ready(function () {
        //    if (ViewBag.ImageError != null || ViewBag.ImageError == true) {
        //        alert("Error with image.");
        //    }
        //});
    </script>
}

